/* @import './base.css'; */
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    overflow-x: hidden;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-50 {
    width: 50%;
}